body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    background-color: #f0f0f0;
}
#contact-list {
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#contact-list {
    margin-top: 20px;
}
